*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: whitesmoke;
}
.hero-section{
    background-image: url(./image/BG.png);
}
.btn-custom{
    background-color: #473BF0;
    color: white;
    border-radius: 6px;
    padding: 10px;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-text h1{
    font-weight: 700;
    color: #1a1a2e;
}
.hero-text p{
    color: #555;
}
.circle-image{
    border-radius: 100%;
    overflow: hidden;
    max-width: 350px;
    margin: auto;
}
.circle-image img{
    width: 100%;
    height: 350px;

}
/* SECOND PART*/
.services-card {
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    text-align: center;
}
.green-card{
    background-color:#68D585;
}
.blue-card{
    background-color:#473BF0;
}
.red-card{
    background: #F64B4B;
}
.services-card h5{
    margin-top: 15px;
    font-weight: 600;
}
.services-card p{
    font-size: 14px;
    opacity: 0.9;
}
.testi{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    box-shadow: 0px 4px 10px rgba(0,0, 0, 0.1);
}
.testi img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.stars{
    color: #ffc107;
}
/* third section */
.story-section{
    padding: 70px 0;
}
.story-section h2{
    font-weight: 700;
    color: #111;
}
.story-section p{
    color: #555;
    line-height: 1.6;
}
.stats h3{
    font-weight: 700;
    color: #000;
}
.stats p{
    color: #555;
    margin-bottom: 0;
}
/* FIFTH PART */
.section-title{
    text-align: center;
    margin: bottom 50px;
}
.project-card{
    width: 100%;
    border-radius: 100%;
}
.category{
    font-size: 14px;
    color: #6c757d;
    margin-top: 15px;
}
.project-title{
    font-weight: 600;
    font-size: 18px;
}
/* sixth part */
.testimonail-section{
    background: #3f2fa6;
    color: white;
    padding: 80px 20px;
    text-align: center;
}
.testimonail-section h6{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
}
.testimonail-section p{
    font-size: 25px;
    font-weight: 500;
    max-width: 700;
    margin: 20px auto;

}
.testimonail-section img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 20px;
}
.testimonail-section .name{
    font-weight: 600;
    margin-top: 10px;
}
.testimonail-section small{
    opacity: 0.8;
}
 /* CTA SECTION  */
 .cta-section{
    background-color: #1b1b1f;
    color: white;
    padding: 60px 20px;
    text-align: start;
 }
 .cta-section .btn{
    background-color: #635bff;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 500;
 }
.footer{
    background-color: #111131;
    color: #ccc;
    padding: 60px 20px;
}
.footer span{
    color:white ;
    font-size: 25px;
    margin-bottom: 15px;
}
.footer h5{
     color:rgb(254, 252, 252) ;
    font-size: 25px;
    margin-bottom: 15px;
}
.footer a{
    color: #aaa;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}
.footer .brand{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    display: block;
}
.social{
    display: flex;
    gap:30px;
}